<div class="container">
  <div class="row">
    <% @duties.each_slice(3) do |row|  %>
      <% row.each do |duty| %>
        <div class="col">
          <div class="card">
            <a href="<%= duty_path(duty) %>" ><%= image_tag duty.photo, class: 'card-img-top'  %></a>
            <div class="body">
              <h5>  <%= duty.name %></h5>

              <p> Last updated <%= time_ago_in_words duty.created_at %> </p>
              <% if checkingduty(duty).nil? || checkingduty(duty).check == false %>
              <%= link_to "Hacerla", check_duty_path(duty), class: 'btn btn-success', method: :post %>
              <%else %>
              <%= link_to "Desmarcar", check_duty_path(duty), class: 'btn btn-danger', method: :post %>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px"></div>
    <%end  %>
  </div>
</div>
