<div class="row">
  <div class="col-md-6">
    <table class="table">
      <h1>Top five</h1>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Photo</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>

        <% @orders.take(5).each_with_index do |order, i|  %>
        <tr>
          <th> <%= i + 1 %></th>
          <th><%= order.user.name %></th>
          <th><%=image_tag order.user.photo, class:'rounded-circle', style:'max-width:50px'%></th>
          <th> <%= order.user.email %></th>
        </tr>
        <% end   %>
      </tbody>
    </table>

  </div>
  <div class="col-md-6">
    <table class="table">
      <h1>Ranking General</h1>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Photo</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>

        <% @orders.each_with_index do |order, i|  %>

        <tr>
          <%if i >= 5 && checkingduty(Duty.find(params[:id])) %>

          <th> <%= i + 1 %></th>
          <th><%= order.name %></th>
          <th><%=image_tag order.photo, class:'rounded-circle', style:'max-width:50px'%></th>
          <th> <%= order.email %></th>
        </tr>
        <%end%>
        <% end%>
      </tbody>
    </table>

  </div>
</div>
