<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Todo 18chero</a>
  <a class="navbar-brand" href="#"> Completados: <%= current_user.orders.where(check: true).count %> / <%= Duty.count %> </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if user_signed_in? %>

          <%= current_user.email.capitalize! %></a>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="#"><%= link_to "Tareas", duties_path%> </a>
          <a class="dropdown-item" href="#"><%= link_to "Tareas Cumplidas", orders_path%> </a>

          <a class="dropdown-item" href="#"><%= link_to "Salir", destroy_user_session_path, method: :delete %></a>
          <% else %>
          <a class="dropdown-item" href="#"><%= link_to "Iniciar Sesion", new_user_session_path%></a>
          <a class="dropdown-item" href="#"><%= link_to "Registrarse", new_user_registration_path%></a>

          <% end %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

          <% if user_signed_in?  %>
          <a><%= link_to "Tareas", duties_path%> </a>

          <a> <a href="#"> <%= current_user.email %></a> </a>
          <a> <%= link_to "Salir", destroy_user_session_path, method: :delete %></a>
          <% else %>
            <a><%= link_to "Registrarse", new_user_registration_path%> </a>
            <a><%= link_to "Ingresar", new_user_session_path%> </a>
          <% end %>
        </div>
      </li>

    </ul>

  </div>
</nav>
